<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Vaccination Site</title>
    <link href="../styles/navbar.css" rel="stylesheet">
    <link href="../styles/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <div id="NavBox">
      <a class="Links" href="../index.html">Home &#127968;</a>
      <a class="Links" href="./registration.html">Registration &#9998;</a>
      <a class="Links" href="./dashboard.html">Dashboard &#9783;</a>
      <a class="Links" href="./vaccinated.html">Vaccinated &#9873;</a>
    </div>
    <div id="dashHome">
      <table id="DashTable">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Type</th>
          <th>Priority</th>
          <th>Vaccine</th>
          <th>OTP</th>
          <th>Delete</th>
          <th>Vaccinate</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Akash Borate</td>
          <td>24</td>
          <td>Student</td>
          <td>p0</td>
          <td>Sputnik</td>
          <td>1234</td>
          <td>
            <button class="ButRed">
              Delete
            </button>
          </td>
          <td>
            <button class="ButGreen">
              Vaccinate
            </button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Mayur Nawghane</td>
          <td>26</td>
          <td>Student</td>
          <td>p1</td>
          <td>Covaxin</td>
          <td>2345</td>
          <td>
            <button class="ButRed">
              Delete
            </button>
          </td>
          <td>
            <button class="ButGreen">
              Vaccinate
            </button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
