<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Vaccination Site</title>
    <link href="../styles/navbar.css" rel="stylesheet">
    <link href="../styles/vaccinated.css" rel="stylesheet">
  </head>
  <body>
    <div id="NavBox">
        <a class="Links" href="../index.html">Home &#127968;</a>
        <a class="Links" href="./registration.html">Registration &#9998;</a>
        <a class="Links" href="./dashboard.html">Dashboard &#9783;</a>
        <a class="Links" href="./vaccinated.html">Vaccinated &#9873;</a>
      </div>
    <div>
        Hello Vaccination
    </div>
  </body>
</html>
